<div class="toolbar" role="banner">
  <div class="spacer"></div>
  <a aria-label="Github repository" target="_blank" rel="noopener" href="https://github.com/HadasIsraeli"
    title="Github repository">
    <img height="50" width="50" src="https://cdn-icons-png.flaticon.com/512/865/865152.png" />
  </a>
  <a aria-label="Hadas Israeli Github" target="_blank" rel="noopener" href="https://github.com/HadasIsraeli"
    title="Hadas Israeli's Github">
    <img height="50" width="50" src="https://cdn-icons-png.flaticon.com/512/733/733609.png" />
  </a>
  <a aria-label="Hadas Israeli LinkedIn" target="_blank" rel="noopener"
    href="https://www.linkedin.com/in/hadas-israeli/" title="Hadas Israeli's LinkedIn">
    <img height="50" width="50" src="https://cdn-icons-png.flaticon.com/512/1384/1384014.png" />
  </a>
</div>
<app-item-list></app-item-list>