<div class="container">

    <h2>Item List Table</h2>


    <h4>Add new item</h4>
    <button *ngIf="!add_item_form" (click)="toggle_new_item()">add item</button>

    <div *ngIf="add_item_form" class="add_item" class="form-card">
        <button (click)="toggle_new_item()">close</button>

        <form [formGroup]="itemForm" class="form">

            <label for="name">Name: </label>
            <input id="name" type="text" formControlName="name">

            <label for="description">Description: </label>
            <input id="description" type="text" formControlName="description">

            <label for="price">Price: </label>
            <input id="price" type="number" formControlName="price">

        </form>
        <button type="submit" (click)="add_item()">Save</button>
    </div>

    <div class="search-box">
        <h4>filter item</h4>
        <button class="filter-type" [class.active-type]="type=='name'" (click)="filter_type('name')">name</button>
        <button class="filter-type" [class.active-type]="type=='description'" (click)="filter_type('description')">description</button>
        <br />
        <input id="filter_val" type="text" [formControl]="filter_val">
        <button (click)="search(filter_val.value)">filter</button>
        <button nz-button nzSize="small" (click)="reset()">Reset</button>
    </div>

    <h4>sort by:</h4>
    <button class="filter-type" [class.active-type]="listService.sort_type=='id'" (click)="listService.sort('id')">id</button>
    <button class="filter-type" [class.active-type]="listService.sort_type=='name'" (click)="listService.sort('name')">name</button>
    <button class="filter-type" [class.active-type]="listService.sort_type=='price'" (click)="listService.sort('price')">price</button>

    <div class="item-list">
        <table id="list-item-table" class="table">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Action</th>

            </tr>
            <tr *ngFor="let item of listService.item_list;">
                <th>{{item.id}}</th>
                <th>{{item.name}}</th>
                <th>{{item.description}}</th>
                <th>{{item.price}}</th>
                <button (click)="toggle_edit_item(item)">Edit</button>

            </tr>
        </table>
      
    </div>

    <div *ngIf="edit_item_form" class="add_item" class="form-card">
        <button (click)="toggle_edit_item()">close</button>

        <form [formGroup]="itemForm"  class="form">

            <label for="name">Name: </label>
            <input id="name" type="text" formControlName="name">

            <label for="description">Description: </label>
            <input id="description" type="text" formControlName="description">

            <label for="price">Price: </label>
            <input id="price" type="number" formControlName="price">

        </form>
        <button type="submit" (click)="edit_item()">Save</button>
    </div>     
</div>